.btn_align button.btn {
    margin-right: 1%;
    border-radius: 7px;
}

.btn_align button.btn:hover {
    background-color: #5E2B6C
}

.btn, .btn-large, .btn-small {
    background-color: #5ea4aa !important;
}