nav .nav-wrapper {
    
    background-color: #0F9b9b;
}

nav .brand-logo {
    float: left;
    position: unset !important;
    margin-left: 10%;
}
.logo{
    margin-top: 16px;
}

.menuItems{
    margin-right: 10%;
}