nav .nav-wrapper {
    
    background-color: #0F9b9b;
}

nav .brand-logo {
    float: left;
    position: unset !important;
    margin-left: 10%;
}
.logo{
    margin-top: 11px;
}

.menuItems{
    margin-right: 10%;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    
    font-size: 40px !important;
    
}