.boton{
    /*max-width: 60%;*/
}
.boton:hover{
    cursor: pointer;   
}
.circulo{
    z-index: 2;
}
.contenido-pregunta, .contenido-respuesta{
    font-size: 1.8em;
    font-weight: bolder;
    color:#000000;
}
.contenido-respuesta{
    font-size: 1.8em !important;
}
#contenedor-calculadora{
    font-family: 'Lato';
}
.contenedor-linea{
    display: grid;
    align-items: center;    
}
.encabezado{
    color:#0F9b9b;
}
.item-cuestionario{
    font-family: 'Roboto';  
    display: grid;
    align-items: center;  
}
#titulo-cal{
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 0.3rem;    
}
#subtitulo-cal{      
    margin-top: 0.1rem;
}
.wrapper{
    margin: auto;
    width: 98%;
    max-width: 1500px;    
    display: grid;
    grid-template-columns: 5% repeat(5,minmax(45px,5%) minmax(30px,12%)) minmax(45px,5%) 5%;
}
@media only screen and (min-width: 980px) and (max-width: 1330px){
    #titulo-cal{
        font-size: 2.3em;
    }
}
