#contenedor-inicio{
    opacity: 0;
    will-change: transform, opacity;
    height: 100%;
    overflow: hidden;
    #inicio-imagenes{
        margin-bottom: 0;
        #avatar-emma{
            position: relative;
            margin-bottom: -5px;
        }
    }
}
#avatar_emma{
    width: 100%;
}
#btn_begin{
    margin-top: 15%;  
    cursor: pointer;  
}
#logo_emmafig{
    width: 100%;
}
.texto{
    font-family:'Roboto';
    font-size: 25px; 
    fill:#6f6f6e;
}

.encabezado{
    color:#0F9b9b;
}
@media (max-width:780px){
    #btn_begin{
        width: 60%;
    }
}




