.boton-res{
    cursor: pointer;
}
#btn_conocer_mas{
    max-width: 170px;
}
#btn_mas_detalles{
    min-width: 215px;
    height: 100%;
}
.cont-mas{
    margin-left: 31% !important;
}
#contenido-res{
    color: #000000;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 0.3rem; 
}
.label-res{
    font-size: .5em;
    font-weight: 100;
}
#subtitulo-res{      
    margin-top: 0.1rem;
}
.texto{
    font-family:'Roboto';
    font-size: 25px; 
    fill:#6f6f6e;
}
.texto-actual{
    font-family:'Roboto';
    fill: #6f6f6e;
    font-size: 25px;
}
.texto-ok{    
    font-family:'Roboto Slab';
    fill: #FFFFFF;
    font-size: 30px;
}
#titulo-res{
    color:#0F9b9b;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 0.3rem;    
}

.cont-btn-result{
    margin: auto;
    width: 98%;
    max-width: 1500px;    
    display: grid;
    grid-template-columns: minmax(160px,30%) 25% 3% 25% minmax(0%,25%);
}
@media only screen and (min-width: 980px) and (max-width: 1330px){
    #titulo-cal{
        font-size: 2.3em;
    }
}
