*{
    margin: 0px;
    padding: 0px;
    font-family: 'lato';
}

#footer{
    background-color: #0F9b9b !important;
    text-align: start;
    
}
#footer_container{
    width: 100%;
    padding: 18px !important;
   
}
.titulo_footer{
    font-size: 20px;
    font-weight: bolder;
}
#little_text_footer{
    font-weight: lighter;
}
#txt_bold_footer{
    font-weight: bolder;

}

#footer_copyright{
    background-color: #1d1f27;
    font-size: 12px;
}
/*

*/
@media only screen and (max-width: 375px){
        
      .titulo_footer{
          font-size: 15px;
      font-weight: bolder;
      
      }
}

  
