*{
    margin: 0px;
    padding: 0px;
    font-family: 'lato';
}
.layoutMap{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px !important;
    height: 550px !important;
}
.info_div_small{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    
    /*
    
    width: 250px;
    */
    width: 325px;
    height: 100%;
    
    background-color: #c83b8d;
    color: aliceblue;
          
    text-align: start;
        
            
}

.info_div{
    position: absolute;
    top: 0px;
    left: 80px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    
    width: 325px;
    height: 100%;
    
    background-color: #c83b8d;
    color: aliceblue;
          
    text-align: start;
        
            
}
.info_div_medium{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    
    width: 325px;
    height: 100%;
    
    background-color: #c83b8d;
    color: aliceblue;
          
    text-align: start;
        

}
#head_info{
    margin-bottom: 8px !important; 
    
}

.info_div_hide{
    position: absolute;
    top: 0px;
    left: 29px;
    width:  325px;
    height: 100%;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    background-color: #c83b8d;
    color: aliceblue;
  
    text-align: start;
  
    transition-property: margin-left;
   transition-duration: 0.3s, 0.3s, 0.3s;
   transition-timing-function: linear, linear;
/*

margin-left: -366px;
margin-left: -373px;
*/
margin-left: -354px;
  
  }
  .info_div_show{
    position: absolute;
    top: 0px;
    left: 8%;
    width:  325px;
    height: 100%;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    background-color: #c83b8d;
    color: aliceblue;
  
    text-align: start;
  
    transition-property: margin-left;
   transition-duration: 0.3s, 0.3s, 0.3s;
   transition-timing-function: linear, linear;
   
   
   margin-left: -47px;
   
   
  }
.btn_animate_div_in{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 289px;
  
    top: 50%;
    padding: 5px;
    background-color: #0F9b9b;
}

.btn_animate_div_in:hover{
    cursor: pointer;
}
.btn_animate_div_out{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 100%;
    top: 50%;
    padding: 5px;
    background-color: #0F9b9b;
}
.btn_animate_div_out:hover{
    cursor: pointer;
}



#btn_animate_div_info:active{
    width: 0px;
}

#row_contacto{
    margin-top: 2% !important;
    margin-bottom: 0px !important;
}
#row_contacto_cel{
    margin-top: 15px !important;
    
}
#col_0_pading{
    padding: 0px;
}

.cel_div{
    margin-top: 5%;
}



.headline{
    font-weight: bolder;
    font-size:30px;
   
   
    line-height: 1.5 !important;
   
}

.box_horario{
    text-align: justify;

}

.horarios_att{
    
    margin-top: 8px;
    
    height: auto;
    /*border: black solid 2px;*/
    
}
#contacto{
    /*
    margin-top: 12px !important;
    */
    margin-top: 5% !important;
}
#second_text{
    font-size: 14px !important;
}
#label_viernes{
    margin-bottom: 8px !important;
}
.div_contacto{
    height: auto;
}
.horariotext{
    font-size: 18px;
    
    line-height: 1.2;
    font-weight: bolder;
    
 

}
.horario_hour{
    font-size:15px;
   font-weight: 100;
   
  
   
}


.headline_sede{
    font-size: 20px;
    margin-top: 30px;
    
    
}

.titulos{
    font-size: 25px !important;
    margin: 0px !important;


}

#sede_div{
    margin-bottom: 10px;
    padding: 0px !important;
}
#sede_div_santander{
    margin-top: 30px;
    margin-bottom: 8px ;
    padding: 0px !important;
}
#head_info_div{
    margin-top: 30px ;
    margin-bottom: 20px ;
    padding: 0px !important;
    
}
.div_sede{
    margin-top: 4%;
    margin-bottom: 8px;
   
}

#marker{
    /*
    position: absolute; left: 0px; top: 0px; user-select: none; width: 96px; height: 60px; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;
    */
    cursor: pointer;
    position: absolute;
    top: -59px;
    left: -28px;
}

#pading_txt_row{

    margin-bottom: 6px !important;

}



@media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
   
 
    .info_div_hide{
        position: absolute;
        top: 0px;
        left: 65px;
        width:  325px;
        height: 100%;
        padding-top: 0px;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-left: 40px;
        background-color: #c83b8d;
        color: aliceblue;
      
        text-align: start;
      
        transition-property: margin-left;
       transition-duration: 0.3s, 0.3s, 0.3s;
       transition-timing-function: linear, linear;
        
        /*
        
        margin-left: -402px;
        */
        margin-left: -390px;
        
        
        
      
      }
      .info_div_show{
        position: absolute;
        top: 0px;
        left: 65px;
        width:  325px;
        height: 100%;
        padding-top: 0px;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-left: 40px;
        background-color: #c83b8d;
        color: aliceblue;
      
        text-align: start;
      
        transition-property: margin-left;
       transition-duration: 0.3s, 0.3s, 0.3s;
       transition-timing-function: linear, linear;
       
       
       margin-left: -65px;
       
       
      }

  }

@media only screen and (max-width:640px) and (orientation: landscape) {
   

    
    .info_div_hide{
        position: absolute;
        top: 0px;
        left: 51px;
        width:  325px;
        height: 100%;
        padding-top: 0px;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-left: 40px;
        background-color: #c83b8d;
        color: aliceblue;
      
        text-align: start;
      
        transition-property: margin-left;
       transition-duration: 0.3s, 0.3s, 0.3s;
       transition-timing-function: linear, linear;
       
        margin-left: -376px;
        
        
      
      }
      .info_div_show{
        position: absolute;
        top: 0px;
        left: 8%;
        width:  325px;
        height: 100%;
        padding-top: 0px;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-left: 40px;
        background-color: #c83b8d;
        color: aliceblue;
      
        text-align: start;
      
        transition-property: margin-left;
       transition-duration: 0.3s, 0.3s, 0.3s;
       transition-timing-function: linear, linear;
       
       
       margin-left: -51px;
       
       
      }
      .btn_animate_div_in{
        width: 36px;
        height: 36px;
        position: absolute;
        left: 289px;
      
        top: 50%;
        padding: 5px;
        background-color: #0F9b9b;
    }
    
    .btn_animate_div_in:hover{
        cursor: pointer;
    }
    .btn_animate_div_out{
        width: 36px;
        height: 36px;
        position: absolute;
        left: 100%;
        top: 50%;
        padding: 5px;
        background-color: #0F9b9b;
    }
    .btn_animate_div_out:hover{
        cursor: pointer;
    }
}
/*
@media only screen and (min-width:640px) {
    
    .btn_animate_div_in{
        width: 36px;
        height: 36px;
        position: absolute;
        left: 214px;
      
        top: 50%;
        padding: 5px;
        background-color: #0F9b9b;
    }
    
    .btn_animate_div_in:hover{
        cursor: pointer;
    }
    .btn_animate_div_out{
        width: 36px;
        height: 36px;
        position: absolute;
        left: 100%;
        top: 50%;
        padding: 5px;
        background-color: #0F9b9b;
    }
    .btn_animate_div_out:hover{
        cursor: pointer;
    }
    .titulo_footer{
        font-size: 15px;
    font-weight: bolder;

}


    .headline{
        font-weight: bolder;
        font-size:25px;
       
       
        line-height: 1.5 !important;
        
    }
    .headline_sede{
        font-size: 20px;
        margin-top: 30px;
        
        
    }
    .horariotext{
        font-size: 15px;
        
        line-height: 1.2;
        font-weight: bolder;
        
     
        
    }
    .horario_hour{
        font-size:13px;
        font-weight: 100;
        
        
       
    }
    
}
*/
  
  
 /*
 
 */
 @media only screen and (max-width: 375px){
    
    
  
    .btn_animate_div_in{
        width: 36px;
        height: 36px;
        position: absolute;
        left: 214px;
        
        top: 50%;
        padding: 5px;
        background-color: #0F9b9b;
    }
    
    .btn_animate_div_in:hover{
        cursor: pointer;
    }
    .btn_animate_div_out{
        width: 36px;
        height: 36px;
        position: absolute;
        left: 100%;
        top: 50%;
        padding: 5px;
        background-color: #0F9b9b;
    }
    .btn_animate_div_out:hover{
        cursor: pointer;
    }
      
 
      .info_div_hide{
        position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    width: 250px;
    height: 100%;
    background-color: #c83b8d;
    color: aliceblue;
    text-align: start;
      
        transition-property: margin-left;
       transition-duration: 0.3s, 0.3s, 0.3s;
       transition-timing-function: linear, linear;
    /*
    
    margin-left: -354px;
    */
    /*
    
    margin-left: -280px;
    */
    margin-left: -250px;
      }
      .info_div_show{
        position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    width: 250px;
    height: 100%;
    background-color: #c83b8d;
    color: aliceblue;
    text-align: start;
      
        transition-property: margin-left;
       transition-duration: 0.3s, 0.3s, 0.3s;
       transition-timing-function: linear, linear;
       
       /*
       
       margin-left: -51px;
       */
       margin-left: 0px;
       
       
      }
    .layoutMap{
        position: relative;
        margin-top: 140px;
        margin-bottom: 0px !important;
        height: 500px !important;
    }
    .info_div_small{
        position: absolute;
        top: 0px;
        left: 0px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
        
        width: 250px;
        height: 100%;
        
        background-color: #c83b8d;
        color: aliceblue;
              
        text-align: start;
            
                
    }
    
    .headline{
        font-weight: bolder;
        font-size:25px;
       
       
        line-height: 1.5 !important;
       
    }
    .headline_sede{
        font-size: 20px;
        margin-top: 30px;
        
        
    }
    .horariotext{
        font-size: 15px;
        
        line-height: 1.2;
        font-weight: bolder;
        
     
    
    }
    .horario_hour{
        font-size:13px;
       font-weight: 100;
       
      
       
    }
  }
