*{
    margin: 0px;
    padding: 0px;
    font-family: 'lato';
}
#div2{
    margin-top: 20px;
}
.resetPading{
    padding: 0px !important;
}
#iconFloat{
    float: left;
   
}

.justi{
    text-align: justify;
}

.quienesTitle{
    color: #5e2b6c;
    font-family: lato;
    font-weight: bold;
}
